# Maven target folder
/target/

# IntelliJ IDEA project files
/.idea/
/*.iml

# Reports folder (optional, keeps reports private)
/Reports/
/report/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.class
*.swp

# Test reports (if you want to exclude them from public repo)
emailable-report.html
test-output/
surefire-reports/
